:root {

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: inherit;
    align-content: space-between ;
}

header, footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-image: url(./47CF09C7-4269-485E-B957-CF2B6503C967_1_102_o.jpeg);
}

header h1 {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: lavender;
    font-weight: 200;
}
footer h3 {
    justify-content: center;
    color: lavender;
}

nav a {
    color: lavender;
    border-color: black;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 5px 5px;
    border-radius: 25px;
}

img {
    width: 100px;
    border-radius: 25px;
}

.sidebar { 
    border:2px solid cornflowerblue;
    width: 50%;
    justify-content: space-between;
    padding: 0px;
    margin: 0px;
    float: left;
    font-style: italic;
    background-color: lavender;
}

.secondary {
    border:2px solid cornflowerblue;
    width: 50%;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    background-color: whitesmoke;
}

@media screen and (max-width768px) {
    .card {
        width: 100%;
    }
}