.root {

}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between ;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    background-color: cadetblue;
}

header h1 {
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
}

nav a {
    background-color: rgb(81, 148, 151);
    border-color: black;
    border-width: 2px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 3px;
    margin: 5px 5px;
    border-radius: 25px;
}

img {
    width: 100px;
    border-radius: 25px;
}

.card { 
    border:2px solid cornflowerblue;
    width: 100%;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
    margin: 0px;
    float: left;
    font-style: italic;
    background-color: cadetblue;
}

.secondary {
    border:2px solid cornflowerblue;
    width: 100%;
    width: 50%;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    background-color: whitesmoke;
}

footer {
    display: flex;
    background-color: cadetblue;
}

@media screen and (max-width768px) {
    .card {
        width: 100%;
    }
}